---
import { useStoryblokApi } from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';
import Header from '../../components/Header';

export async function getStaticPaths() {
	const sbApi = useStoryblokApi();

	const { data } = await sbApi.get('cdn/stories', {
		content_type: 'blogPost',
		version: import.meta.env.DEV ? 'draft' : 'published',
	});

	const stories = Object.values(data.stories);

	return stories.map((story) => {
		return {
			params: { slug: story.slug },
		};
	});
}

const sbApi = useStoryblokApi();
const { slug } = Astro.params;
const { data } = await sbApi.get(`cdn/stories/${slug}`, {
	version: import.meta.env.DEV ? 'draft' : 'published',
});

const story = data.story;
---

<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<meta name='generator' content={Astro.generator} />
		<title>{story.name}</title>
	</head>
	<body>
		<Header />
		<StoryblokComponent blok={story.content} />
	</body>
</html>
