@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base Body Styles */
body {
  /* Global Layout */
  /* @apply pt-8; */
  /* Ensures the footer stays at bottom no matter how much content is on the page. */
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;

  /* Global Styles */
  text-wrap: pretty;
  @apply font-serif;
  @apply font-sans;

  /* Global Light Theme */
  @apply bg-gray-50 text-gray-950;

  /* Global Light Theme */
  @apply dark:bg-gray-900 dark:text-gray-50;
}

/* Typography Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  @apply font-bold;
  @apply tracking-tight;
}

h1,
h2,
h3 {
  @apply leading-none;
}

h1 {
  @apply text-5xl lg:text-7xl;
}

h2 {
  @apply text-4xl lg:text-6xl;
}

h3 {
  @apply text-3xl lg:text-5xl;
}

h4 {
  @apply text-2xl lg:text-4xl;
}

h5 {
  @apply text-xl lg:text-3xl;
}

h6 {
  @apply text-lg lg:text-2xl;
}

a {
  @apply text-inherit;
  @apply opacity-75;
}

a:hover {
  @apply opacity-100;
  @apply transition duration-300 ease-in-out;
}

:is(main, section, article) a:hover {
  @apply border-b-2;
}

/* pre,
code {
  @apply block overflow-x-scroll;
} */

/* Semantic HTML Styles */

header {
  @apply min-h-[65dvh];
}

main {
  @apply container mx-auto space-y-[1em] py-8;
}
section {
  @apply mx-auto space-y-[1em] px-8;
}

img,
image,
picture {
  @apply w-full;
  @apply h-full;
}
