@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* New style rules to simplify design */
/* Insprired by Apple */
/* Tell a story in the paragraphs and point out hte important items by using a darker/lighter font-color; text-zinc-900 in light theme, text-zinc-50 in dark theme. */

/* 
LIGHT THEME
bg = bg-white
layer1bg = bg-zinc-100
main font color = text-zinc-500
full font color = text-zinc-900

DARK THEME
bg = bg-black
layer1bg = bg-zinc-900
main font color = text-zinc-500
full font color = text-zinc-50
*/

body {
  /* Layout */
  /* Ensures the footer stays at bottom no matter how much content is on the page. */
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;

  /* Text and Font */
  text-wrap: pretty;
  @apply font-sans text-lg font-semibold md:text-xl;

  /* Global Light & Dark Theme */
  @apply bg-white text-zinc-500 dark:bg-black;
}

/* Typography Styles */
:is(h1, h2, h3, h4, h5, h6) {
  text-wrap: balance;
  @apply font-bold tracking-tight text-zinc-900 dark:text-zinc-50;
}

:is(#hero) p {
  text-wrap: balance;
}

:is(h1, h2, h3, h4, h5, h6) > span::after {
  content: "🔗";
  @apply pl-[.5em] text-[50%];
}

:is(h1, h2, h3) {
  @apply leading-none;
}

h1 {
  @apply text-5xl md:text-6xl;
}

h2 {
  @apply text-4xl md:text-5xl;
}

h3 {
  @apply text-3xl md:text-4xl;
}

h4 {
  @apply text-2xl md:text-3xl;
}

h5 {
  @apply text-xl md:text-2xl;
}

h6 {
  @apply text-lg md:text-xl;
}

.btn-primary,
.btn-secondary {
  @apply block rounded border-2 transition duration-300 ease-in-out hover:scale-110;
}

.btn-primary > a,
.btn-secondary > a {
  @apply block px-4 py-3 hover:no-underline;
}

.btn-primary {
  @apply border-emerald-600  bg-emerald-600 dark:border-emerald-400 dark:bg-emerald-400;
}

.btn-primary > a {
  @apply text-zinc-50 hover:text-zinc-50 dark:text-zinc-900 dark:hover:text-zinc-900;
}

.btn-secondary {
  @apply border-zinc-900 dark:border-zinc-50;
}

.btn-secondary > a {
  @apply hover:text-zinc-900 dark:hover:text-zinc-50;
}

a,
* > a {
  @apply text-zinc-900 hover:text-emerald-600 hover:underline dark:text-zinc-50 dark:hover:text-emerald-400;
}

.story-text {
  @apply text-zinc-900 dark:text-zinc-50;
}

img,
picture {
  @apply rounded;
}

/* Apply styles to inline code elements that are not part of a codeblock */

code,
pre > code {
  @apply break-words rounded text-xs font-normal md:text-base;
}

/* Applies border to codeblock */
pre {
  /* @apply max-w-full overflow-x-scroll whitespace-pre rounded !important; */
  @apply grid grid-cols-1;
}

/* Semantic HTML Styles */

/* Ensures header is at least equal to 65% of the devices dynamic viewport height. */
header {
  @apply h-[75vh] xl:h-[85vh];
}

nav:is(#header-nav) {
  @apply container mx-auto flex items-center px-8 py-8 lg:py-12;
}

#hero-link-container > p:hover > :last-child {
  @apply opacity-100;
}

/* Constrains elements inside the main element to a certain width (container class), centers them, and adds padding to the top and bottom of the main element. */
main {
  @apply container mx-auto animate-fade space-y-[3em] pb-[3em] animate-delay-300 animate-duration-300;
}

#main-fade-in {
  @apply animate-fade animate-delay-[1400ms] animate-duration-300 animate-once animate-ease-in;
}

/* Centers element on the page. Adds "flow" to elements nested inside the section element using the space-y-[] rule. Also adds horizontal padding so elements are not butting up on the extreme edges of the window on smaller screen sizes. */
section {
  @apply mx-auto max-w-full space-y-[1em] px-8 md:space-y-[1.5em];
}

/* Centers element on the page. Adds "flow" to elements nested inside the section element using the space-y-[] rule. */
article {
  @apply mx-auto max-w-screen-lg space-y-[1em];
}

/* THESE RULES ONLY APPLY TO BLOGS GENERATED BY ASTRO AND FED FROM STORYBLOK */

article:is(#blog-post) #blog-title {
  @apply pt-8;
}

article:is(#blog-post) img:not(#blog-featured-image),
article:is(#blog-post) picture:not(#blog-featured-image) {
  @apply mx-auto border-0 xl:w-4/5;
}

article:is(#blog-post) p {
  @apply leading-relaxed;
}

article:is(#blog-post) > ul,
article:is(#blog-post) > ol {
  margin-inline-start: 3em;
}

article:is(#blog-post) > ul {
  list-style-type: disc;
}

article:is(#blog-post) > ol {
  list-style-type: decimal;
}

/* Project Tech Tag Styling */
/* 
Light Theme bg colors = darker and saturated 
Dark Theme bg colors = lighter and desaturated
*/
p > span[data-name="Astro"] {
  @apply text-[#5820e1] dark:text-[#bab2ff];
}

li[data-name="Astro"] {
  @apply bg-[#5820e1] dark:bg-[#bab2ff];
}

p > span[data-name="React"] {
  @apply text-[#2e5570] dark:text-[#8bbed5];
}

li[data-name="React"] {
  @apply bg-[#2e5570] dark:bg-[#8bbed5];
}

p > span[data-name="NextJS"] {
  @apply text-[#0072F5] dark:text-[#68B5FB];
}

li[data-name="NextJS"] {
  @apply bg-[#0072F5] dark:bg-[#68B5FB];
}

p > span[data-name="Tailwind CSS"] {
  @apply text-[#38bdf8] dark:text-[#7dd5fc];
}

li[data-name="Tailwind CSS"] {
  @apply bg-[#38bdf8] dark:bg-[#7dd5fc];
}

p > span[data-name="Storyblok"] {
  @apply text-[#00b3b0] dark:text-[#90fff1];
}

li[data-name="Storyblok"] {
  @apply bg-[#00b3b0] dark:bg-[#90fff1];
}

li[data-name="HTML"] {
  @apply bg-[#f14a29] dark:bg-[#f89b79];
}

li[data-name="CSS"] {
  @apply bg-[#2c4bdc] dark:bg-[#9ab8f6];
}

li[data-name="SCSS"] {
  @apply bg-[#bf6b97] dark:bg-[#d393b6];
}

li[data-name="JavaScript"] {
  @apply bg-[#e3b10f] dark:bg-[#f7dd4a];
}

li[data-name="Cloudinary"] {
  @apply bg-[#3847be] dark:bg-[#a2bbee];
}

li[data-name="Gatsby"] {
  @apply bg-[#8a4baf] dark:bg-[#d8bceb];
}

li[data-name="TypeScript"] {
  @apply bg-[#215da8] dark:bg-[#91b9e8];
}

li[data-name="Open Props CSS"] {
  @apply bg-[#3544c0] dark:bg-[#a0baf0];
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transform: none !important;
  }
}

@media (prefers-contrast: more) {
  *,
  *::before,
  *::after {
    opacity: 100% !important;
  }

  a:hover {
    text-decoration: underline !important;
  }
}
