/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"); */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* New style rules to simplify design */
/* Inspired by Apple */
/* Tell a story in the paragraphs and point out hte important items by using a darker/lighter font-color; text-zinc-900 in light theme, text-zinc-50 in dark theme. */

/* 
LIGHT THEME
bg = bg-white
layer1bg = bg-zinc-100
main font color = text-zinc-500
full font color = text-zinc-900

DARK THEME
bg = bg-black
layer1bg = bg-zinc-900
main font color = text-zinc-500
full font color = text-zinc-50
*/

@layer base {
  * {
    @apply min-w-0;
  }

  body {
    @apply grid max-h-screen text-pretty bg-zinc-50 font-sans text-base text-zinc-600 selection:bg-black selection:text-zinc-50 dark:bg-zinc-950 dark:text-zinc-300 dark:selection:bg-white dark:selection:text-zinc-900;
    grid-template-rows: auto 1fr auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-balance font-semibold text-zinc-900 dark:text-zinc-50;
  }

  h1,
  h2,
  h3 {
    @apply leading-none tracking-tighter;
  }

  h1 {
    @apply text-5xl; /* clamp(3.3594rem, 2.8694rem + 2.45vw, 4.7681rem) */
  }

  h2 {
    @apply text-4xl; /* clamp(2.7994rem, 2.4461rem + 1.7663vw, 3.815rem) */
  }

  h3 {
    @apply text-3xl; /* clamp(2.3325rem, 2.0823rem + 1.2511vw, 3.0519rem) */
  }

  h4 {
    @apply text-2xl; /* clamp(1.9438rem, 1.7707rem + 0.8652vw, 2.4413rem) */
  }

  h5 {
    @apply text-xl; /* clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem) */
  }

  h6 {
    @apply text-lg; /* clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem) */
  }

  ul[role="list"],
  ol[role="list"] {
    @apply ml-8 mt-2;
  }

  ul[role="list"] {
    @apply list-disc;
  }

  ol[role="list"] {
    @apply list-decimal;
  }

  a,
  * > a {
    @apply text-zinc-900  hover:text-emerald-600 dark:text-zinc-50 dark:hover:text-emerald-400;
  }

  main a {
    @apply underline decoration-emerald-600 dark:decoration-emerald-400;
  }

  .flow > * + * {
    margin-block-start: 1em;
    margin-block-start: clamp(1em, 1rem + 0vw, 2em);
  }

  .noflow > * + * {
    margin-block-start: 0;
  }
}

label {
  @apply flex flex-col gap-2 text-sm text-zinc-600 dark:text-zinc-300;
}

input,
textarea {
  @apply rounded border-2 border-zinc-300 bg-zinc-200 p-3 text-sm text-zinc-900 dark:border-zinc-500 dark:bg-zinc-800 dark:text-zinc-50;
}

textarea {
  min-height: 15vh;
}

img,
picture {
  @apply rounded;
}

svg {
  @apply block max-h-full max-w-full;
}

/* Project Tech Tag Styling */
/* 
Light Theme bg colors = darker and saturated 
Dark Theme bg colors = lighter and de-saturated
*/
p > span[data-name="Astro"] {
  @apply text-[#5820e1] dark:text-[#bab2ff];
}

li[data-name="Astro"] {
  @apply bg-[#5820e1] dark:bg-[#bab2ff];
}

p > span[data-name="React"] {
  @apply text-[#2e5570] dark:text-[#8bbed5];
}

li[data-name="React"] {
  @apply bg-[#2e5570] dark:bg-[#8bbed5];
}

p > span[data-name="NextJS"] {
  @apply text-neutral-900 dark:text-neutral-100;
}

li[data-name="NextJS"] {
  @apply bg-black dark:bg-white;
}

p > span[data-name="Tailwind CSS"] {
  @apply text-[#38bdf8] dark:text-[#7dd5fc];
}

li[data-name="Tailwind CSS"] {
  @apply bg-[#38bdf8] dark:bg-[#7dd5fc];
}

p > span[data-name="Storyblok"] {
  @apply text-[#00b3b0] dark:text-[#90fff1];
}

li[data-name="Storyblok"] {
  @apply bg-[#00b3b0] dark:bg-[#90fff1];
}

li[data-name="HTML"] {
  @apply bg-[#f14a29] dark:bg-[#f89b79];
}

li[data-name="CSS"] {
  @apply bg-[#2c4bdc] dark:bg-[#9ab8f6];
}

li[data-name="SCSS"] {
  @apply bg-[#bf6b97] dark:bg-[#d393b6];
}

li[data-name="JavaScript"] {
  @apply bg-[#e3b10f] dark:bg-[#f7dd4a];
}

li[data-name="Cloudinary"] {
  @apply bg-[#3847be] dark:bg-[#a2bbee];
}

li[data-name="Gatsby"] {
  @apply bg-[#8a4baf] dark:bg-[#d8bceb];
}

li[data-name="TypeScript"] {
  @apply bg-[#215da8] dark:bg-[#91b9e8];
}

li[data-name="Open Props CSS"] {
  @apply bg-[#3544c0] dark:bg-[#a0baf0];
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transform: none !important;
  }
}

@media (prefers-contrast: more) {
  *,
  *::before,
  *::after {
    opacity: 100% !important;
  }

  a:hover {
    text-decoration: underline !important;
  }
}

.debug {
  @apply outline outline-red-500;
}

.dark-drop-shadow {
  box-shadow: inset 1px 0px 0px rgba(255, 255, 255, 0.03);
  box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.03);
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(4px 4px 0px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(8px 8px 0px rgba(0, 0, 0, 0.1));
}
