---
import { storyblokEditable, renderRichText } from '@storyblok/astro';
const { blok } = Astro.props;
const content = renderRichText(blok.content);
import '../styles/global.css';
---

<article
	{...storyblokEditable(blok)}
	class='container mx-auto space-y-[1em] px-4 py-8'
>
	<h1>{blok.title}</h1>
	<p>{blok.description}</p>
	<Fragment set:html={content} />
</article>
