---
import { storyblokEditable, renderRichText } from '@storyblok/astro';
const { blok } = Astro.props;
const content = renderRichText(blok.content);
---

<article {...storyblokEditable(blok)} class='prose prose-zinc'>
	<h1>{blok.title}</h1>
	<p>{blok.description}</p>
	<Fragment set:html={content} />
</article>
