---
import { storyblokEditable } from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';
const { blok } = Astro.props;
import '../styles/global.css';
---

<main {...storyblokEditable(blok)} class='container mx-auto py-8'>
	<section class='mx-auto space-y-[1em] px-4'>
		{
			blok.body?.map((blok) => {
				return <StoryblokComponent blok={blok} />;
			})
		}
	</section>
</main>
