---
import { storyblokEditable } from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';
const { blok } = Astro.props;
import '../styles/global.css';
---

<main {...storyblokEditable(blok)}>
	{
		blok.body?.map((blok) => {
			return <StoryblokComponent blok={blok} />;
		})
	}
</main>
