---
import Header from '../components/Header';
import '../styles/global.css';
---

<html lang='en'>
	<head>
		<title>404 | Ryan Furrer</title>
	</head>
	<body>
		<Header />
		<p>Sorry, this page does not exist.</p>
	</body>
</html>
