---
import HeaderNavBar from "../layouts/HeaderNavBar.astro";
import Hero from "../layouts/Hero.astro";
import Footer from "../components/Footer";
import "../styles/global.css";
const pageTitle = "404: Page Not Found";
const heroTitle = "Uh oh, a 404 Error?!";
const description = "Shoot, you're not supposed to see this";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <header>
      <HeaderNavBar />
      <Hero heroTitle={heroTitle} description={description} />
    </header>
    <main>
      <section>
        <article>
          <p>
            It seems like you found a page that doesn't exist <i>or</i> a broken
            link. <br />No worries! Feel free to go back or click any other link
            in the navigation bar.
          </p>
        </article>
      </section>
    </main>
    <Footer />
  </body>
</html>
