---
import Header from '../components/Header';
import '../styles/global.css';
const pageTitle = '404 Error';
---

<html lang='en'>
	<head>
		<title>{pageTitle}</title>
	</head>
	<body>
		<Header />
		<p>Sorry, this page does not exist.</p>
	</body>
</html>
