---
import Header from '../components/Header';
import Footer from '../components/Footer';
import '../styles/global.css';
const pageTitle = 'About';
---

<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<meta name='generator' content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Header />
		<main class='container mx-auto py-8'>
			<h2>Heading</h2>
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus
				corporis dolor rerum saepe cum, placeat quo fugiat quas quidem facere
				velit, sapiente iste impedit nulla dicta esse quae adipisci explicabo
				error eveniet maiores culpa molestias.
			</p>
		</main>
		<Footer />
	</body>
</html>
