---
import HeaderNavBar from "../layouts/HeaderNavBar.astro";
import Hero from "../layouts/Hero.astro";
import Footer from "../components/Footer";
import "../styles/global.css";
const pageTitle = "About Me";
const heroHeader = "Hey there, I'm Ryan Furrer, a Front-End Web Developer.";
const heroDescription =
  "My goal is to make the world a better place one website at a time.";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <header>
      <HeaderNavBar />
      <Hero heroHeader={heroHeader} heroDescription={heroDescription} />
    </header>
    <main>
      <section>
        <article>
          <h2>Heading</h2>
          <div class="grid place-items-center gap-8 md:grid-cols-2">
            <img
              src="/avatar-2x.webp"
              class="mx-auto w-1/2 rounded-full md:w-full"
            />
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Accusamus corporis dolor rerum saepe cum, placeat quo fugiat quas
              quidem facere velit, sapiente iste impedit nulla dicta esse quae
              adipisci explicabo error eveniet maiores culpa molestias.
            </p>
          </div>
        </article>
      </section>
    </main>
    <Footer />
  </body>
</html>
