---
import { useStoryblokApi } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import Layout from "../layouts/Layout.astro";
import SectionXL from "../layouts/SectionXL.astro";

const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get("cdn/stories/blog", {
  version: import.meta.env.DEV ? "draft" : "published",
});
const content = data.story.content;
const title = "Blog";
const description = "Learn what I'm up to with articles";
---

<Layout title={title} description={description}>
  <main
    class="flow animate-fade-down animate-delay-[400ms] animate-duration-700 animate-once animate-ease-in-out"
  >
    <section
      class="flow md:pt-22 mx-auto max-w-screen-xl pt-12 lg:pt-36 xl:pt-48"
    >
      <StoryblokComponent blok={content} />
    </section>
  </main>
</Layout>
