---
import Layout from "../layouts/Layout.astro";
import SectionXL from "../layouts/SectionXL.astro";
import Section2XL from "../layouts/Section2XL.astro";

import { Image } from "astro:assets";
import profilePictureMay2024 from "../assets/images/profile-picture.png";
import SocialLinks from "../components/SocialLinks.astro";
import LinkButtonPrimary from "../components/LinkButtonPrimary.astro";

const title = "It was nice to meet you!";
const description =
  "If you're visiting this page, we must have met in person, and what a pleasure it was.";
---

<Layout title={title} description={description}>
  <main
    class="flow container mx-auto animate-fade-down animate-delay-[400ms] animate-duration-700 animate-once animate-ease-in-out"
  >
    <Section2XL>
      <SectionXL>
        <h2 class="mb-12 lg:text-center">A little reminder about me</h2>
        <div
          class="flow lg:noflow grid lg:grid-cols-2 lg:place-items-center lg:gap-8"
        >
          <div id="greeting-container" class="flow col-span-1">
            <Image
              src={profilePictureMay2024}
              alt=`Ryan Furrer`
              class="aspect-square rounded-md object-cover object-top"
            />
            <SocialLinks />
          </div>
          <div
            id="greeting-container-verbiage-container"
            class="flow col-span-1"
          >
            <p>
              My name is Ryan Furrer and I am a highly enthusiastic Front-End
              Web Developer, with a focus on Design and UI/UX.
            </p>
            <p>
              At present, I am working with <span data-name="React">React</span
              >, <span data-name="NextJS">NextJS</span>, <span data-name="Astro"
                >Astro</span
              >, and <span data-name="Tailwind CSS">TailwindCSS</span>.
            </p>
            <p>
              In addition, I also share my thoughts and learnings on web
              development, tech, and productivity through blog posts here on <a
                href="/blog"
                aria-label="my website">my website</a
              > and my <a
                href="https://ryanfurrer.beehiiv.com/subscribe"
                target="_blank"
                rel="noopener noreferrer"
                aria-label=`View my newsletter issues and subscribe if you'd like`
                >newsletter</a
              > as well.
            </p>
            <p
              class="mx-auto text-balance rounded-md bg-amber-400 p-1 text-center text-xl font-semibold text-zinc-900"
            >
              I'm also looking for my first job in the industry!
            </p>
            <p>
              If you or anyone you know are hiring junior web developers I'd
              love to show what I can bring to the team.
            </p>
            <div class="flow mt-12">
              <LinkButtonPrimary label="Contact Me" linkURL="/contact" />
              <p class="sm:text-md font-semibold md:text-lg">
                <a
                  class="flex flex-row place-items-center gap-4 no-underline transition-[gap] duration-300 ease-in-out hover:gap-8"
                  href="/projects"
                  >View my projects <i class="fa-solid fa-arrow-right"></i></a
                >
              </p>
              <p class="sm:text-md font-semibold md:text-lg">
                <a
                  class="flex flex-row place-items-center gap-4 no-underline transition-[gap] duration-300 ease-in-out hover:gap-8"
                  href="/about"
                  >Learn more about me <i class="fa-solid fa-arrow-right"
                  ></i></a
                >
              </p>
            </div>
          </div>
        </div>
      </SectionXL>
    </Section2XL>
  </main>
</Layout>
