---
import HeaderNavBar from "../layouts/HeaderNavBar.astro";
import Hero from "../layouts/Hero.astro";
import Footer from "../layouts/Footer.astro";
import "../styles/global.css";
const pageTitle = "Contact Ryan";
const heroHeader = "Want to chat, email, or connect?";
const heroDescription =
  "Lorem ipsum dolor, sit amet consectetur adipisicing elit.d";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <script
      is:inline
      src="https://kit.fontawesome.com/dec2579292.js"
      crossorigin="anonymous"></script>
    <title>{pageTitle}</title>
    <!-- <style>
      * > a {
        @apply underline;
      }
    </style> -->
  </head>
  <body>
    <header>
      <HeaderNavBar />
      <Hero heroHeader={heroHeader} heroDescription={heroDescription} />
    </header>
    <main id="main-fade-in">
      <section>
        <h2>Contact Me</h2>
        <p>
          You can email me directly at <a href="mailto:ryandotfurrer@gmail.com"
            >ryandotfurrer@gmail.com</a
          >, using the <span class="story-text">contact form below</span>, or
          schedule a call with me via <a
            href="https://cal.com/ryanfurrer"
            target="_blank"
            rel="noopener noreferrer">Cal</a
          >.
        </p>
        <div id="contact-button-container" class="grid justify-start gap-4">
          <button class="btn-primary"
            ><a
              href="https://cal.com/ryanfurrer"
              target="_blank"
              rel="noopener noreferrer">Chat with Ryan</a
            ></button
          >
          <button class="btn-secondary"
            ><a href="mailto:ryandotfurrer@gmail.com">Email Ryan</a></button
          >
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
