---
import HeaderNavBar from "../layouts/HeaderNavBar.astro";
import Hero from "../layouts/Hero.astro";
import Footer from "../layouts/Footer.astro";
import "../styles/global.css";
const pageTitle = "Contact Ryan";
const heroHeader = "Want to chat, email, or connect?";
const heroDescription = "I'd love to hear from you.";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <script
      is:inline
      src="https://kit.fontawesome.com/dec2579292.js"
      crossorigin="anonymous"></script>
    <title>{pageTitle}</title>
  </head>
  <body>
    <header>
      <HeaderNavBar />
      <Hero heroHeader={heroHeader} heroDescription={heroDescription} />
    </header>
    <main id="main-fade-in">
      <section>
        <h2>Contact Me</h2>
        <p>
          You can <a href="mailto:ryandotfurrer@gmail.com">email me directly</a>
           at ryandotfurrer@gmail.com, using the <span class="story-text"
            >contact form below</span
          >, or
          <a
            href="https://cal.com/ryanfurrer"
            target="_blank"
            rel="noopener noreferrer">schedule a call</a
          >. with me via Cal.
        </p>
        <div id="contact-button-container" class="grid justify-start gap-4">
          <button class="btn-primary"
            ><a
              href="https://cal.com/ryanfurrer"
              target="_blank"
              rel="noopener noreferrer"
              class="no-underline">Chat with Ryan</a
            ></button
          >
          <button class="btn-secondary"
            ><a href="mailto:ryandotfurrer@gmail.com" class="no-underline"
              >Email Ryan</a
            ></button
          >
        </div>
      </section>

      <section id="contact-form">
        <div
          id="contact-form-container"
          class="bg-zinc-100 p-8 dark:bg-zinc-900"
        >
          <form name="contact" class="grid grid-cols-1 gap-[1em]">
            <div id="name-input-container">
              <label for="name" class="text-zinc-900 dark:text-zinc-50"
                >Name<input
                  type="text"
                  name="name"
                  required
                  autocomplete="name"
                  class="rounded bg-white p-3 dark:bg-zinc-700"
                /></label
              >
            </div>
            <div id="email-input-container">
              <label for="email"
                >Email<input
                  type="email"
                  name="email"
                  required
                  autocomplete="email"
                  class="rounded bg-white p-3"
                /></label
              >
            </div>
            <div id="message-input-container">
              <label for="message"
                >Message<textarea
                  name="message"
                  required
                  autocorrect="on"
                  class="rounded bg-white p-3"></textarea></label
              >
            </div>
          </form>
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
