---
import HeaderNavBar from "../layouts/HeaderNavBar.astro";
import HeroHome from "../layouts/HeroHome.astro";
import Footer from "../layouts/Footer.astro";
import BlogPostListFeatured from "../storyblok/BlogPostListFeatured.astro";
import "../styles/global.css";
const pageTitle = "Ryan Furrer";
const heroHeader =
  "Helping people build the web presence they deserve through quailty code.";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <script
      is:inline
      src="https://kit.fontawesome.com/dec2579292.js"
      crossorigin="anonymous"></script>
    <title>{pageTitle}</title>
  </head>
  <body>
    <header>
      <HeaderNavBar />
      <HeroHome heroHeader={heroHeader} />
    </header>
    <main id="main-fade-in">
      <section>
        <h2>👋🏻 It's nice to meet you</h2>
        <div
          id="greeting-container"
          class="mx-auto grid grid-cols-1 space-y-[1em] text-xl md:place-items-center md:text-2xl lg:grid-cols-2 lg:gap-8 xl:text-3xl 2xl:w-4/5"
        >
          <img src="/avatar-2x.webp" />
          <div
            id="greeting-container-verbiage-container"
            class="space-y-[1em] lg:leading-relaxed"
          >
            <p>
              My name is Ryan Furrer I am an incredibly passionate <span
                class="story-text"
                >Front-End Web Developer specializing in Design and UI/UX</span
              >. I am currently working with <span data-name="Astro">Astro</span
              >,

              <span data-name="React">React</span>, <span
                data-name="Tailwind CSS">TailwindCSS</span
              >, and <span data-name="NextJS">NextJS</span>.
            </p>
            <p>
              I also post the occasional blog post here on <a
                href="/"
                aria-label="View my portfolio site">my site</a
              >, <a
                href="https://dev.to/ryanfurrer"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="View my profile on dev.to">DEV</a
              >, and
              <a
                href="https://ryanfurrer.hashnode.dev/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="View my profile on Hashnode">Hashnode</a
              >. I also have a <a
                href="https://ryanfurrer.beehiiv.com/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label=`View my newsletter issues and subscribe if you'd like`
                >newsletter</a
              > I aim to send out once per month
            </p>
            <p class="text-xl md:text-2xl">
              <a
                class="flex flex-row place-items-center gap-4 transition-[gap] duration-300 ease-in-out hover:gap-8 hover:no-underline"
                href="about"
                >Learn more about me <i class="fa-solid fa-arrow-right"></i></a
              >
            </p>
          </div>
        </div>
      </section>
      <section>
        <h2>Blogs</h2>
        <p>
          I enjoy writing articles from time to time about things I've learned,
          project updates, and more. Below you can find my three most recent
          posts and if you'd like you can <a
            href="#"
            target="_blank"
            rel="noopener noreferrer">subscribe to my Newsletter</a
          > to be notified when I publish new ones.
        </p>
        <BlogPostListFeatured />
        <p>
          <a href="/blog" class="text-emerald-600 dark:text-emerald-400"
            >View all articles</a
          >
        </p>
      </section>
    </main>
    <Footer />
  </body>
</html>
