---
import HeaderNavBar from "../layouts/HeaderNavBar.astro";
import Hero from "../layouts/Hero.astro";
import Footer from "../layouts/Footer.astro";
import BlogPostListFeatured from "../storyblok/BlogPostListFeatured.astro";
import "../styles/global.css";
const pageTitle = "Ryan Furrer";
const heroHeader =
  "Helping people build the web presence they deserve through quailty code.";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <script
      is:inline
      src="https://kit.fontawesome.com/dec2579292.js"
      crossorigin="anonymous"></script>
    <title>{pageTitle}</title>
  </head>
  <body>
    <header>
      <HeaderNavBar />
      <Hero heroHeader={heroHeader} />
      <section
        id="header-cta-container"
        class="container animate-fade-down animate-delay-1000 animate-duration-700 animate-once animate-ease-in-out"
      >
        <div>
          <div id="hero-link-container" class="flex flex-col gap-4">
            <p class="text-2xl">
              <a
                href="/projects"
                class="dark:text-emerald-40 flex place-items-center gap-2 text-emerald-600 hover:no-underline dark:text-emerald-400"
              >
                <i class="fa-solid fa-code-branch"></i>View my projects</a
              >
            </p>
            <p class="text-2xl">
              <a
                href="/blog"
                class="flex place-items-center gap-2 hover:text-zinc-900 hover:no-underline dark:hover:text-zinc-50"
              >
                <i class="fa-solid fa-newspaper"></i>
                 Read blog articles
              </a>
            </p>
          </div>
        </div>
      </section>
    </header>
    <main>
      <section>
        <h2>Section Heading</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
          autem accusamus obcaecati fugiat in illum mollitia ullam, earum
          provident, officia reiciendis nihil a, aspernatur sunt corporis
          reprehenderit. Exercitationem natus ad necessitatibus corporis sequi,
          aut expedita!
        </p>
        <p>
          Suscipit eum possimus itaque nisi sunt exercitationem ratione nostrum
          nesciunt facilis, a earum et sint, perferendis dolor minima ea
          accusamus deleniti temporibus soluta quisquam illo! Error maxime
          maiores minus delectus magni quibusdam odio tempore aliquam?
        </p>
        <p>
          Rem rerum assumenda ipsam, accusantium aliquid laboriosam harum,
          veniam commodi et voluptatibus alias blanditiis dicta fugit magni sed,
          delectus culpa facere saepe. Odit amet sunt ea debitis ipsa molestiae?
          Perspiciatis id nulla corrupti quidem ut!
        </p>
      </section>
      <section>
        <h2>Blogs</h2>
        <p>
          I enjoy writing articles from time to time about things I've learned,
          project updates, and more. Below you can find my three most recent
          posts and if you'd like you can <a
            href="#"
            target="_blank"
            rel="noopener noreferrer">subscribe to my Newsletter</a
          > to be notified when I publish new ones.
        </p>
        <BlogPostListFeatured />
        <p>
          <a href="/blog" class="text-emerald-600 dark:text-emerald-400"
            >View all articles</a
          >
        </p>
      </section>
    </main>
    <Footer />
  </body>
</html>
