---
import Layout from "../layouts/Layout.astro";
import Section2XL from "../layouts/Section2XL.astro";
import DealsForDevsImage from "../assets/images/projects-dealsfordevs.png";
import GridIronImage from "../assets/images/projects-gridiron.png";
import ProjectTechTag from "../components/ProjectTechTag.astro";
import ProjectCard from "../components/ProjectCard.astro";
import GoToTopBtn from "../components/GoToTopBtn.astro";

const title = "Now";
const description = "What I'm up to in the current moment.";
---

<Layout title={title} description={description}>
  <main
    class="flow animate-fade-down animate-delay-[400ms] animate-duration-700 animate-once animate-ease-in-out"
  >
    <Section2XL>
      <h2 class="text-xl text-zinc-600 dark:text-zinc-300">Last Update:</h2>
      <h2 class="mt-0">February 26, 2024</h2>
      <section id="whats-new" class="flow">
        <h3 class="w-fit rounded bg-amber-400 p-1 text-zinc-900">Whats new</h3>
        <p>
          I am excited to announce that I am working on a couple of projects
          with some incredible people I met at <a href="/blog/that-conference"
            >THAT Conference</a
          > - <a
            href="https://twitter.com/shashiwhocodes"
            target="_blank"
            rel="noopener noreferrer">Shashi Lo</a
          > and <a
            href="https://twitter.com/jamesqquick"
            target="_blank"
            rel="noopener noreferrer">James Q. Quick</a
          >!
        </p>

        <div
          class="flow lg:noflow grid gap-4 pb-12 pt-4 md:gap-8 lg:grid-cols-2 2xl:gap-12"
        >
          <ProjectCard
            imagePath={GridIronImage}
            imageAlt="Coming soon"
            projectName="Gridiron Survivor"
            projectDescription="This is a Football survivor app that I am building as part of a team being led by Shashi Lo. As a UX Engineer, I am responsible for briding design and code, creating the components that will make up the site."
            projectGithubLink="https://github.com/LetsGetTechnical/gridiron-survivor"
          >
            <ProjectTechTag technologyName="NextJS" />
            <ProjectTechTag technologyName="Appwrite" />
            <ProjectTechTag technologyName="Tailwind" />
            <ProjectTechTag technologyName="shadcn/ui" />
            <ProjectTechTag technologyName="Storybook" />
            <p slot="extra-description">Live link coming soon!</p>
          </ProjectCard>
          <ProjectCard
            imagePath={DealsForDevsImage}
            imageAlt="Screenshot of https://www.dealsfordevs.com/"
            projectName="Deals for Devs"
            projectDescription="This is an open source project owned by James Q. Quick that is aiming to send deals and giveaways for developers straight to their inbox monthly."
            projectLiveLink="https://www.dealsfordevs.com/"
            projectGithubLink="https://github.com/Learn-Build-Teach/deals-for-devs"
          >
            <ProjectTechTag technologyName="NextJS" />
            <ProjectTechTag technologyName="Xata" />
            <ProjectTechTag technologyName="Sentry" />
            <ProjectTechTag technologyName="Clerk" />
            <ProjectTechTag technologyName="Tailwind" />
          </ProjectCard>
        </div>
        <h3>What I do for work</h3>
        <GoToTopBtn />
        <p>
          I'm transitioning careers from Procurement in Supply Chain to Web
          Development and have been studying web development with a focus on
          front-end work since late 2019. Currently I am learning React/NextJS
          and mySQL via <a
            href="https://github.com/ryandotfurrer"
            target="_blank"
            rel="noopener noreferrer">several projects</a
          > as well as focusing on building my community on <a
            href="https://twitter.com/ryandotfurrer"
            target="_blank"
            rel="noopener noreferrer"
            >X,
          </a><a
            href="https://www.linkedin.com/in/ryanfurrer/"
            target="_blank"
            rel="noopener noreferrer"
            >LinkedIn,
          </a> and <a
            href="https://www.twitch.tv/ryandotfurrer"
            target="_blank"
            rel="noopener noreferrer">Twitch</a
          >.
        </p>
        <h3>What I do for fun</h3>
        <p>
          Outisde of the work office, you'll often find me at my home office
          coding or playing video games. My current backlog includes but is
          certainly <i>not</i> limited to:
        </p>
        <ul class="ml-8 list-disc">
          <li>
            <a
              href="https://na.finalfantasyxvi.com/"
              target="_blank"
              rel="noopener noreferrer">Final Fantasy XVI</a
            >
          </li>
          <li>
            <a
              href="https://seaofstarsgame.co/"
              target="_blank"
              rel="noopener noreferrer">Sea of Stars</a
            >
          </li>
          <li>
            <a
              href="http://www.owlboygame.com/"
              target="_blank"
              rel="noopener noreferrer">Owl Boy</a
            >
          </li>
        </ul>
        <p>
          I'm also an avid motorsport fan in general, especially Formula 1; This
          year I'm rooting for McLaren and Williams! I also co-host a <a
            href="https://www.twitch.tv/aimsleague/about"
            target="_blank"
            rel="noopener noreferrer">Gran Turimo 7 stream</a
          > with my brother where we commentate on races most Sundays.
        </p>
        <p>
          <h3>Conferences I've attended</h3>
          <ul class="ml-8 list-disc">
            <li>THAT Conference, Austin, TX 2024</li>
          </ul>
        </p>
        <p class="text-sm">
          <a
            href="https://nownownow.com/about"
            target="_blank"
            rel="noopener noreferrer">Unsure what a "Now" page is?</a
          >
        </p>
      </section>
    </Section2XL>
  </main>
</Layout>
