---
import HeaderNavBar from "../layouts/HeaderNavBar.astro";
import Hero from "../layouts/Hero.astro";
import Footer from "../layouts/Footer.astro";
import "../styles/global.css";
import ProjectCard from "../layouts/ProjectCard.astro";
import ProjectTechTag from "../layouts/ProjectTechTag.astro";
const pageTitle = "Projects";
const heroHeader = "Projects";
const heroDescription = "What I've created and worked on";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <script
      is:inline
      src="https://kit.fontawesome.com/dec2579292.js"
      crossorigin="anonymous"></script>
    <title>{pageTitle}</title>
  </head>
  <body>
    <header>
      <HeaderNavBar />
      <Hero heroHeader={heroHeader} heroDescription={heroDescription} />
    </header>
    <main id="main-fade-in">
      <section>
        <h2>Personal Projects</h2>
        <p>
          All projects are in chronological order aside from my previous
          portfolio revisions.
        </p>
        <div
          id="project-grid-container"
          class="grid gap-[2em] py-[2em] md:grid-cols-2 xl:grid-cols-3"
        >
          <ProjectCard
            projectName="ryanfurrer.com"
            projectDescription="The very site you are on right now! This was my first endeavor with Astro, Tailwind, and Storyblok and I absolutely loved learning and using these new tools to build it. It serves as a home for my projects, blogs, and more."
            projectLiveLink="https://rfportfolioastro.netlify.app/"
            projectGithubLink="https://github.com/ryanfurrer/rf-astro-portfolio-and-blog"
          >
            <ProjectTechTag technologyName="Astro" />
            <ProjectTechTag technologyName="React" />
            <ProjectTechTag technologyName="Tailwind CSS" />
            <ProjectTechTag technologyName="Storyblok" />
            <ProjectTechTag technologyName="SEO" />
          </ProjectCard>

          <ProjectCard
            projectName="Minimal Portfolio Template"
            projectDescription="This was going to be the basis for version 5 of my portfolio until I decided it's time to try some new technologies. Now this is available on GitHub as a template for anyone to use."
            projectLiveLink="https://rf-minimal-portfolio.netlify.app/"
            projectGithubLink="https://github.com/ryanfurrer/rf-minimal-portfolio"
          >
            <ProjectTechTag technologyName="HTML" />
            <ProjectTechTag technologyName="Open Props CSS" />
            <ProjectTechTag technologyName="JavaScript" />
          </ProjectCard>

          <ProjectCard
            projectName="Grid Drawing"
            projectDescription="A project I thought of to practice  vanilla JavaScript. Fill in the squares and draw whatever you'd like!"
            projectLiveLink="https://rf-grid-drawing.netlify.app/"
            projectGithubLink="https://github.com/ryanfurrer/rf-grid-drawing"
          >
            <ProjectTechTag technologyName="HTML" />
            <ProjectTechTag technologyName="SCSS" />
            <ProjectTechTag technologyName="JavaScript" />
          </ProjectCard>

          <ProjectCard
            projectName="Basic Blackjack"
            projectDescription="A very basic version of Blackjack I built to practice vanilla JavaScript."
            projectLiveLink="https://rf-blackjack.netlify.app/"
            projectGithubLink="https://github.com/ryanfurrer/rf-blackjack"
          >
            <ProjectTechTag technologyName="HTML" />
            <ProjectTechTag technologyName="CSS" />
            <ProjectTechTag technologyName="JavaScript" />
          </ProjectCard>

          <ProjectCard
            projectName="furrever.wedding"
            projectDescription="My personal wedding website! This was clearly a passion project and I was thrilled to make it so. I wanted an easy way to manage photos on the site, and Cloudinary was my choice. While I feel it was a bit clunky to use, it served it's purpose."
            projectLiveLink="https://furrever.netlify.app/"
            projectGithubLink="https://github.com/ryanfurrer/furrever"
          >
            <ProjectTechTag technologyName="HTML" />
            <ProjectTechTag technologyName="SCSS" />
            <ProjectTechTag technologyName="JavaScript" />
            <ProjectTechTag technologyName="Cloudinary" />
          </ProjectCard>

          <ProjectCard
            projectName="Portfolio v4"
            projectDescription="Version 4 of my portfolio, and probably the one I am most proud of next to the current iteration. I learned a lot building this and felt like I kicked my design skills up a notch with it. It's not perfect, but that's why I started v5 from scratch! It was also the first time my portfolio was not a single-page site."
            projectLiveLink="https://ryanfurrer.com/"
            projectGithubLink="https://github.com/ryanfurrer/ryanfurrer.com"
          >
            <ProjectTechTag technologyName="HTML" />
            <ProjectTechTag technologyName="SCSS" />
            <ProjectTechTag technologyName="JavaScript" />
            <ProjectTechTag technologyName="SEO" />
          </ProjectCard>

          <ProjectCard
            projectName="Portfolio v3"
            projectDescription="I remember building this after learning some new CSS tricks and still really like it. It's simple, sure, but I think it's got character. I'd like to revisit this design langauge one day."
            projectLiveLink="https://ryanfurrer-v3.netlify.app/"
            projectGithubLink="https://github.com/ryanfurrer/ryanfurrer-v3"
          >
            <ProjectTechTag technologyName="HTML" />
            <ProjectTechTag technologyName="SCSS" />
            <ProjectTechTag technologyName="JavaScript" />
          </ProjectCard>

          <ProjectCard
            projectName="Portfolio v2"
            projectDescription="Looking back at this I cringe a bit; but I am sure we all do that with projects. At the time, I was incredibly proud of this one! The design was a big leap for me and I quickly learned about using more whitespace after this project. It was a lot of fun to build and iterate at the time and I'm still proud of it."
            projectLiveLink="https://ryanfurrer-v2.netlify.app/"
            projectGithubLink="https://github.com/ryanfurrer/ryanfurrer-v2"
          >
            <ProjectTechTag technologyName="HTML" />
            <ProjectTechTag technologyName="Open Props CSS" />
            <ProjectTechTag technologyName="JavaScript" />
          </ProjectCard>
        </div>
      </section>
      <section>
        <h2>Open-Source Contributions</h2>
        <div
          id="project-grid-container"
          class="grid gap-[2em] py-[2em] md:grid-cols-2 xl:grid-cols-3"
        >
          <ProjectCard
            projectName="fullstack.chat"
            projectDescription="fullstack.chat is a community for developers and builders. The person in charge, Brian Morrison, also hosts Spaces on X, formerly Twitter. It is a fantastic community that I am happy to contribute to."
            projectLiveLink="https://fullstack.chat/"
            projectGithubLink="https://github.com/fullstack-chat/fsc-core"
          >
            <ProjectTechTag technologyName="Gatsby" />
            <ProjectTechTag technologyName="React" />
            <ProjectTechTag technologyName="TypeScript" />
          </ProjectCard>
        </div>
      </section>
      <section>
        <h2>Collaborative Projects</h2>
        <div
          id="project-grid-container"
          class="grid gap-[2em] py-[2em] md:grid-cols-2 xl:grid-cols-3"
        >
          <ProjectCard
            projectName="AIMS League - work in progress"
            projectDescription="This site will be the home for AIMS League; Apex Intercontinental Motorsport League. A racing league hosted on Gran Turismo 7 that I help lead, moderate, and commentate on."
            projectLiveLink="https://aimsleague.com/"
            projectGithubLink="https://github.com/aimsleague/website"
          >
            <ProjectTechTag technologyName="Astro" />
            <ProjectTechTag technologyName="React" />
            <ProjectTechTag technologyName="Tailwind CSS" />
            <ProjectTechTag technologyName="Storyblok" />
            <ProjectTechTag technologyName="SEO" />
            <p class="mt-[1em]">
              Check out our VODs on <a
                href="https://www.youtube.com/@AIMSLeague"
                target="_blank"
                rel="noopener noreferrer"
                class="text-red-600">YouTube</a
              > or Live Streams on <a
                href="https://www.twitch.tv/aimsleague"
                target="_blank"
                rel="noopener noreferrer"
                class="text-violet-600 dark:text-violet-400">Twitch</a
              >!
            </p>
          </ProjectCard>
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
