---
import { Image } from "astro:assets";
import memojiProfilePicture from "../assets/photos/avatar-2x.webp";
import Layout from "../layouts/Layout.astro";
import SectionXL from "../components/SectionXL.astro";
import Section2XL from "../components/Section2XL.astro";
import NewBlogPostListFeatured from "../storyblok/NewBlogPostListFeatured.astro";

const title = "Ryan Furrer";
const description =
  "Helping people build the web presence they deserve through quailty code.";
---

<Layout title={title} description={description}>
  <main class="flow container mx-auto px-4">
    <Section2XL>
      <SectionXL>
        <h2>Hello There</h2>
        <div
          class="flow lg:noflow grid lg:grid-cols-2 lg:place-items-center lg:gap-8"
        >
          <div id="greeting-container" class="flow">
            <Image
              src={memojiProfilePicture}
              alt=`Memoji representing Ryan Furrer where his head is poking our from behind a laptop.`
            />
          </div>
          <div id="greeting-container-verbiage-container" class="flow">
            <p>
              Hi there, my name is Ryan Furrer I am a highly enthusiastic
              Front-End Web Developer with a focus on Design and UI/UX. At
              present, I am working with <span data-name="Astro">Astro</span>,

              <span data-name="React">React</span>, <span
                data-name="Tailwind CSS">TailwindCSS</span
              >, and <span data-name="NextJS">NextJS</span>.
            </p>
            <p>
              In addition, I also share my thoughts on web develoment through
              blog posts on <a href="/" aria-label="my website">my website</a>, <a
                href="https://dev.to/ryanfurrer"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="View my profile on dev.to">DEV</a
              >, and
              <a
                href="https://ryanfurrer.hashnode.dev/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="View my profile on Hashnode">Hashnode</a
              >. I send out a monthly <a
                href="https://ryanfurrer.beehiiv.com/subscribe"
                target="_blank"
                rel="noopener noreferrer"
                aria-label=`View my newsletter issues and subscribe if you'd like`
                >newsletter</a
              > as well.
            </p>
            <p class="text-lg font-semibold">
              <a
                class="flex flex-row place-items-center gap-4 no-underline transition-[gap] duration-300 ease-in-out hover:gap-8"
                href="/about"
                >Learn more about me <i class="fa-solid fa-arrow-right"></i></a
              >
            </p>
          </div>
        </div>
      </SectionXL>
    </Section2XL>
    <SectionXL>
      <h2>Blogs</h2>
      <p>
        I enjoy writing articles from time to time about things I've learned,
        project updates, and more. Below you can find my three most recent posts
        and if you'd like you can <a
          href="https://ryanfurrer.beehiiv.com/subscribe"
          target="_blank"
          rel="noopener noreferrer">subscribe to my Newsletter</a
        > to be notified when I publish new ones.
      </p>
      <NewBlogPostListFeatured />
      <p class="sm:text-md font-semibold md:text-lg">
        <a
          class="flex flex-row place-items-center gap-4 no-underline transition-[gap] duration-300 ease-in-out hover:gap-8"
          href="/blog"
          >View all articles <i class="fa-solid fa-arrow-right"></i></a
        >
      </p>
    </SectionXL>
  </main>
</Layout>
