---
import LinkButtonPrimary from "./LinkButtonPrimary.astro";
import LinkButtonSecondary from "./LinkButtonSecondary.astro";

export interface Props {
  heroHeader: string;
  heroDescription?: string;
  heroParagraph?: string;
}

const { heroDescription, heroHeader, heroParagraph }: Props = Astro.props;
---

<section class="py-24 md:py-44 lg:py-72 xl:py-96">
  <div
    class="flow mx-auto grid h-auto max-w-screen-lg place-content-center px-8 lg:px-0"
  >
    <h1 class="text-3xl lg:text-4xl 2xl:text-5xl">{heroHeader}</h1>
    <div
      class="grid gap-4 pt-12 text-base font-semibold md:max-w-fit md:grid-cols-2 md:gap-8 lg:text-lg"
    >
      <LinkButtonPrimary linkURL="/projects" linkText="View my projects">
        <i slot="pre-icon" class="fa-solid fa-code-branch"></i>
        <i
          slot="post-icon"
          class="fa-solid fa-arrow-right text-zinc-50 dark:text-zinc-900"></i>
      </LinkButtonPrimary>
      <LinkButtonSecondary linkURL="/blog" linkText="Read my articles">
        <i slot="pre-icon" class="fa-solid fa-newspaper"></i>
        <i
          slot="post-icon"
          class="fa-solid fa-arrow-right text-emerald-600 transition-all duration-300 ease-in-out group-hover:pl-8 group-hover:text-zinc-50 dark:text-emerald-400 dark:group-hover:text-zinc-900"
        ></i>
      </LinkButtonSecondary>
    </div>
  </div>
</section>
