---
import FooterNavBar from "../layouts/FooterNavBar.astro";
import SocialLinks from "../layouts/SocialLinks.astro";
---

<footer
  class="h-min-full container mx-auto mt-24 w-full max-w-screen-xl border-t-2 border-zinc-200 pb-8 pt-20 dark:border-zinc-800"
>
  <div id="footer-inside-container" class="mx-auto grid gap-4 px-8">
    <FooterNavBar />
    <SocialLinks />
    <div id="copyright">
      <p class="text-sm text-zinc-900 dark:text-zinc-50">
        &copy; <span id="footer-year"></span>
        <a
          href="https://ryanfurrer.com"
          target="_blank"
          rel="noopener noreferrer"
          class="text-zinc-900 dark:text-zinc-50"
        >
          Ryan Furrer</a
        >
      </p>
    </div>
  </div>
</footer>

<script>
  function getCurrentYear() {
    // Grab span element containing year in footer
    let footerYear = document.querySelector("#footer-year");
    // Gets current date
    const date = new Date();
    // Gets current year from date and converts it to a string
    const year = date.getFullYear().toString();
    // Changes year in footer
    footerYear.innerHTML = year;
  }

  getCurrentYear();
</script>
