---
export interface Props {
  title: string;
  description: string;
}
const { title, description }: Props = Astro.props;
---

<header
  class="flow mx-auto grid min-h-[65vh] max-w-screen-lg place-content-center px-8 lg:px-0"
>
  <h1>{title}</h1>
  <p
    class="text-pretty text-2xl font-semibold leading-none text-emerald-600 dark:text-emerald-400"
  >
    {description}
  </p>
</header>
