---

---

<style>
  #navlist {
    @apply fixed -right-full top-24 z-50 flex h-screen w-full flex-col gap-6 bg-white px-4 pt-8 text-right transition-[right] duration-300 ease-in-out lg:static lg:top-0 lg:h-auto lg:w-auto lg:flex-row lg:px-0 lg:py-0 dark:bg-black;
  }
  #navlist.active {
    @apply right-0 mx-auto;
  }

  #hamburger {
    @apply flex flex-col flex-wrap gap-[.38rem] border-none p-0 text-base lg:hidden;
  }

  .bar {
    @apply block h-[.125rem] w-[1.4rem] bg-zinc-500 lg:hidden dark:bg-zinc-400;
  }

  #hamburger.active .bar:nth-child(2) {
    @apply opacity-0;
  }

  #hamburger.active .bar:nth-child(1) {
    @apply translate-y-[.5rem] rotate-45 transition-transform ease-in-out;
  }

  #hamburger.active .bar:nth-child(3) {
    @apply -translate-y-[.5rem] -rotate-45 transition-transform ease-in-out;
  }

  li > a {
    @apply lowercase text-zinc-400 hover:text-emerald-600 dark:text-zinc-500 dark:hover:text-emerald-400;
  }
</style>

<nav id="header-nav" class="container mx-auto flex items-center py-8 lg:py-12">
  <a
    href="/"
    class="mr-auto text-lg font-semibold lowercase text-zinc-900 hover:text-emerald-600 dark:text-zinc-50 dark:hover:text-emerald-400"
    >Ryan Furrer</a
  >
  <ul id="navlist" class="flex">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/projects">Projects</a>
    </li>
    <li>
      <a href="/blog">Blog</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/contact">Contact</a>
    </li>
  </ul>
  <button id="hamburger" name="Mobile Menu" aria-label="Mobile Menu">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>
</nav>

<script>
  function mobileMenu() {
    const hamburger = document.querySelector("#hamburger");
    const navList = document.querySelector("#navlist");

    hamburger.addEventListener("click", () => {
      hamburger.classList.toggle("active");
      navList.classList.toggle("active");
    });
  }

  function closeMenu() {
    const hamburger = document.querySelector("#hamburger");
    const navList = document.querySelector("#navlist");
    const navLink = document.querySelectorAll(".navlink");

    navLink.forEach((n) =>
      n.addEventListener("click", () => {
        hamburger.classList.remove("active");
        navList.classList.remove("active");
      }),
    );
  }

  closeMenu();
  mobileMenu();
</script>
