---
export interface Props {
  technologyName: string;
}

const { technologyName }: Props = Astro.props;
---

<li
  class="rounded bg-zinc-500 p-1 text-xs text-zinc-50 dark:bg-zinc-400 dark:text-zinc-900"
>
  {technologyName}
</li>
