---

---

<section class="md:pt-22 pt-12 lg:pt-36 xl:px-4 xl:pt-48 2xl:px-0">
  <div
    class="flow container mx-auto mb-24 rounded-2xl bg-zinc-100 px-8 py-12 text-zinc-900 xl:max-w-screen-xl dark:bg-zinc-900 dark:text-zinc-50"
  >
    <slot />
  </div>
</section>
