---

---

<section
  class="flow container mx-auto mb-24 rounded-2xl bg-zinc-100 px-6 py-12 text-zinc-900 xl:mb-36 xl:max-w-screen-xl xl:px-0 xl:py-24 dark:bg-zinc-900 dark:text-zinc-50"
>
  <slot />
</section>
