---

---

<style>
  a {
    @apply text-2xl text-zinc-900 hover:text-emerald-600 dark:text-zinc-50 dark:hover:text-emerald-400;
  }
</style>

<div id="icon-container" class="flex gap-4">
  <a
    href="https://twitter.com/ryandotfurrer"
    target="_blank"
    rel="noopener noreferrer"
    aria-label=`View Ryan Furrer's X profile`
    ><i class="fa-brands fa-x-twitter" aria-label=`View Ryan Furrer's X profile`
    ></i></a
  >
  <a
    href="https://www.twitch.tv/ryandotfurrer"
    target="_blank"
    rel="noopener noreferrer"
    aria-label=`View Ryan Furrer's Twitch Channel`
    ><i
      class="fa-brands fa-twitch"
      aria-label=`View Ryan Furrer's Twitch Channel`></i></a
  >
  <a
    href="http://www.youtube.com/@ryandotfurrer"
    target="_blank"
    rel="noopener noreferrer"
    aria-label=`View Ryan Furrer's YouTube Channel`
    ><i
      class="fa-brands fa-youtube"
      aria-label=`View Ryan Furrer's YouTube Channel`></i></a
  >
  <a
    href="https://github.com/ryandotfurrer"
    target="_blank"
    rel="noopener noreferrer"
    aria-label=`View Ryan Furrer's GitHub profile`
    ><i
      class="fa-brands fa-github"
      aria-label=`View Ryan Furrer's GitHub profile`></i></a
  >
  <a
    href="https://www.linkedin.com/in/ryanfurrer/"
    target="_blank"
    rel="noopener noreferrer"
    aria-label=`View Ryan Furrer's Linkedin profile`
    ><i
      class="fa-brands fa-linkedin"
      aria-label=`View Ryan Furrer's Linkedin profile`></i></a
  >
</div>
