---
import "../styles/global.css";
import FooterNavBar from "./FooterNavBar.astro";
import SocialLinks from "./SocialLinks.astro";
---

<footer
  class="h-min-full mx-auto w-full border-t-2 border-zinc-200 pb-8 pt-20 dark:border-zinc-800"
>
  <div id="footer-inside-container" class="container mx-auto grid gap-4 px-8">
    <FooterNavBar />
    <SocialLinks />
    <div id="copyright">
      <p class="text-sm text-zinc-900 dark:text-zinc-50">
        &copy; <span id="footer-year"></span>
        <a
          href="https://ryanfurrer.com"
          target="_blank"
          rel="noopener noreferrer"
          class="text-zinc-900 dark:text-zinc-50"
        >
          Ryan Furrer</a
        >
      </p>
    </div>
  </div>
</footer>

<script>
  function getCurrentYear() {
    let footerYear = document.querySelector("#footer-year"); // Grab span element containing year in footer
    const date = new Date(); // Gets current date
    const year = date.getFullYear().toString(); // Gets current year from date and converts it to a string

    footerYear.innerHTML = year; // Changes year in footer
  }

  getCurrentYear();
</script>
