---
import "../styles/global.css";
---

<nav class="container mx-auto">
  <ul class="grid">
    <li>
      <a
        href="/"
        class="text-zinc-500 hover:text-emerald-600 dark:hover:text-emerald-400"
        aria-label="home">Home</a
      >
    </li>
    <li>
      <a
        href="/projects"
        class="text-zinc-500 hover:text-emerald-600 dark:hover:text-emerald-400"
        aria-label="projects">Projects</a
      >
    </li>
    <li>
      <a
        href="/blog"
        class="text-zinc-500 hover:text-emerald-600 dark:hover:text-emerald-400"
        aria-label="blog">Blog</a
      >
    </li>
    <li>
      <a
        href="/about"
        class="text-zinc-500 hover:text-emerald-600 dark:hover:text-emerald-400"
        aria-label="about">About</a
      >
    </li>
    <li>
      <a
        href="/contact"
        class="navlink text-zinc-500 hover:text-emerald-600 dark:hover:text-emerald-400"
        aria-label="contact">Contact</a
      >
    </li>
    <li>
      <a
        href="https://cal.com/ryanfurrer"
        target="_blank"
        rel="noopener noreferrer"
        class="navlink text-zinc-500 hover:text-emerald-600 dark:hover:text-emerald-400"
        aria-label="chat with ryan"
        >Chat with Ryan <i class="fa-solid fa-arrow-up-right-from-square"
        ></i></a
      >
    </li>
    <li>
      <a
        href="https://ryanfurrer.beehiiv.com/"
        target="_blank"
        rel="noopener noreferrer"
        class="navlink text-zinc-500 hover:text-emerald-600 dark:hover:text-emerald-400"
        aria-label="newsletter"
        >Newsletter <i class="fa-solid fa-arrow-up-right-from-square"></i></a
      >
    </li>
  </ul>
</nav>
