---
import "../styles/global.css";
---

<style>
  a {
    @apply text-zinc-500 hover:text-emerald-600 dark:text-zinc-400 dark:hover:text-emerald-400;
  }
</style>

<nav class="container mx-auto">
  <ul class="grid">
    <li>
      <a href="/" aria-label="home">Home</a>
    </li>
    <li>
      <a href="/projects" aria-label="projects">Projects</a>
    </li>
    <li>
      <a href="/blog" aria-label="blog">Blog</a>
    </li>
    <li>
      <a href="/about" aria-label="about">About</a>
    </li>
    <li>
      <a href="/contact" aria-label="contact">Contact</a>
    </li>
    <li>
      <a
        href="https://cal.com/ryanfurrer"
        target="_blank"
        rel="noopener noreferrer"
        class="navlink text-zinc-500 hover:text-emerald-600 dark:hover:text-emerald-400"
        aria-label="chat with ryan"
        >Chat with Ryan <i class="fa-solid fa-arrow-up-right-from-square"
        ></i></a
      >
    </li>
    <li>
      <a
        href="https://ryanfurrer.beehiiv.com/subscribe"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="newsletter"
        >Newsletter <i class="fa-solid fa-arrow-up-right-from-square"></i></a
      >
    </li>
    <li>
      <a
        href="https://drive.google.com/file/d/1eCzvYH-JRKqutLZ-R9s5ZeMd8FddEJ3n/view?usp=drive_link"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="newsletter"
        >Resume <i class="fa-solid fa-arrow-up-right-from-square"></i></a
      >
    </li>
  </ul>
</nav>
