---
import "../styles/global.css";
---

<nav class="container mx-auto">
  <ul class="grid">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/blog">Blog</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
  </ul>
</nav>
