---
import "../styles/global.css";
---

<nav class="container mx-auto">
  <ul class="grid">
    <li>
      <a
        href="/"
        class="text-zinc-500 hover:text-emerald-600 hover:no-underline dark:hover:text-emerald-400"
        >Home</a
      >
    </li>
    <li>
      <a
        href="/blog"
        class="text-zinc-500 hover:text-emerald-600 hover:no-underline dark:hover:text-emerald-400"
        >Blog</a
      >
    </li>
    <li>
      <a
        href="/about"
        class="text-zinc-500 hover:text-emerald-600 hover:no-underline dark:hover:text-emerald-400"
        >About</a
      >
    </li>
  </ul>
</nav>
