---
import FooterNavBar from "../layouts/FooterNavBar.astro";
import SocialLinks from "../layouts/SocialLinks.astro";
---

<footer
  class="flow container mx-auto mt-24 min-h-full w-full max-w-screen-xl border-t-2 border-zinc-200 px-8 pt-20 dark:border-zinc-800"
>
  <div
    id="footer-inside-container"
    class="flow mx-auto grid gap-8 md:grid-cols-2 lg:grid-cols-3"
  >
    <div>
      <FooterNavBar />
    </div>
    <div class="flow">
      <h2 class="text-lg">About</h2>
      <p class="text-balance">
        A Software Engineer with a focus on UX development.
      </p>
      <div class="flow">
        <div class="flow">
          <h2 class="text-lg">Follow me</h2>
          <SocialLinks />
        </div>
      </div>
    </div>
    <div
      class="flow rounded-md bg-amber-600 p-8 text-zinc-50 md:col-span-2 lg:col-span-1 dark:bg-amber-400 dark:text-zinc-900"
    >
      <h2 class="text-lg text-zinc-50 dark:text-zinc-900">Looking for work</h2>
      <p class="text-pretty">
        I am transitioning careers into web development and would love to work
        with your team. Please <a
          href="/contact"
          class="font-semibold text-zinc-50 underline hover:text-zinc-50 dark:text-zinc-900 dark:hover:text-zinc-900"
          >Contact me</a
        > if you or someone you know is hiring junior developers!
      </p>
    </div>
  </div>
  <div id="copyright" class="py-4">
    <p class="text-sm text-zinc-900 dark:text-zinc-50">
      &copy; <span id="footer-year"></span>
      <a
        href="https://ryanfurrer.com"
        target="_blank"
        rel="noopener noreferrer"
        class="text-zinc-900 dark:text-zinc-50"
      >
        Ryan Furrer</a
      >
    </p>
  </div>
</footer>

<script>
  function getCurrentYear() {
    // Grab span element containing year in footer
    let footerYear = document.querySelector("#footer-year");
    // Gets current date
    const date = new Date();
    // Gets current year from date and converts it to a string
    const year = date.getFullYear().toString();
    // Changes year in footer
    footerYear.innerHTML = year;
  }

  getCurrentYear();
</script>
