---
import "../styles/global.css";
---

<style>
  #navlist {
    @apply fixed -right-full top-24 z-50 flex h-screen w-full flex-col gap-[2em] bg-white bg-cover px-[2em] pt-8 text-right transition-[right] duration-300 ease-in-out dark:bg-black md:static md:top-0 md:h-auto md:w-auto md:flex-row md:px-0 md:py-0;
  }
  #navlist.active {
    @apply right-0;
  }

  #hamburger {
    @apply flex flex-col flex-wrap gap-[.35rem] border-none p-0 md:hidden;
  }

  .bar {
    @apply block h-[.15em] w-[1.5rem] bg-zinc-500 md:hidden;
  }

  #hamburger.active .bar:nth-child(2) {
    @apply opacity-0;
  }

  #hamburger.active .bar:nth-child(1) {
    @apply translate-y-[.5rem] rotate-45 transition-transform ease-in-out;
  }

  #hamburger.active .bar:nth-child(3) {
    @apply -translate-y-[.5rem] -rotate-45 transition-transform ease-in-out;
  }

  a {
    @apply text-xl;
  }
</style>

<nav id="header-nav">
  <a
    href="/"
    class="mr-auto text-xl font-bold lowercase text-zinc-900 hover:text-emerald-600 dark:text-zinc-50 dark:hover:text-emerald-400 md:text-4xl"
    >Ryan Furrer</a
  >
  <ul id="navlist" class="flex gap-[1em]">
    <li>
      <a
        href="/"
        class="navlink lowercase text-zinc-500 hover:text-emerald-600 dark:hover:text-emerald-400"
        >Home</a
      >
    </li>
    <li>
      <a
        href="/projects"
        class="navlink lowercase text-zinc-500 hover:text-emerald-600 dark:hover:text-emerald-400"
        >Projects</a
      >
    </li>
    <li>
      <a
        href="/blog"
        class="navlink lowercase text-zinc-500 hover:text-emerald-600 dark:hover:text-emerald-400"
        >Blog</a
      >
    </li>
    <li>
      <a
        href="/about"
        class="navlink lowercase text-zinc-500 hover:text-emerald-600 dark:hover:text-emerald-400"
        >About</a
      >
    </li>
    <li>
      <a
        href="/contact"
        class="navlink lowercase text-zinc-500 hover:text-emerald-600 dark:hover:text-emerald-400"
        >Contact</a
      >
    </li>
  </ul>
  <button id="hamburger" name="Mobile Menu" aria-label="Mobile Menu">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>
</nav>

<script>
  function mobileMenu() {
    const hamburger = document.querySelector("#hamburger");
    const navList = document.querySelector("#navlist");

    hamburger.addEventListener("click", () => {
      hamburger.classList.toggle("active");
      navList.classList.toggle("active");
    });
  }

  function closeMenu() {
    const hamburger = document.querySelector("#hamburger");
    const navList = document.querySelector("#navlist");
    const navLink = document.querySelectorAll(".navlink");

    navLink.forEach((n) =>
      n.addEventListener("click", () => {
        hamburger.classList.remove("active");
        navList.classList.remove("active");
      }),
    );
  }

  closeMenu();
  mobileMenu();
</script>
