---
import "../styles/global.css";
---

<nav id="header-nav">
  <h1
    class="mr-auto text-3xl opacity-100 hover:text-emerald-500 dark:hover:text-emerald-300 md:text-4xl"
  >
    <a href="/" class="hover:no-underline">Ryan Furrer</a>
  </h1>
  <ul class="flex gap-[1em]">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/blog">Blog</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
  </ul>
</nav>
