---
import "../styles/global.css";
---

<nav id="header-nav">
  <a
    href="/"
    class="mr-auto text-3xl lowercase hover:text-emerald-600 hover:no-underline dark:hover:text-emerald-400"
    >Ryan Furrer</a
  >
  <ul class="flex gap-[1em]">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/blog">Blog</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
  </ul>
</nav>
