---
import "../styles/global.css";
---

<nav id="header-nav">
  <a
    href="/"
    class="mr-auto text-xl font-bold lowercase text-zinc-900 hover:text-emerald-600 hover:no-underline dark:text-zinc-50 dark:hover:text-emerald-400 md:text-4xl"
    >Ryan Furrer</a
  >
  <ul class="flex gap-[1em]">
    <li>
      <a
        href="/"
        class="lowercase text-zinc-500 hover:text-emerald-600 hover:no-underline dark:hover:text-emerald-400"
        >Home</a
      >
    </li>
    <li>
      <a
        href="/projects"
        class="lowercase text-zinc-500 hover:text-emerald-600 hover:no-underline dark:hover:text-emerald-400"
        >Projects</a
      >
    </li>
    <li>
      <a
        href="/blog"
        class="lowercase text-zinc-500 hover:text-emerald-600 hover:no-underline dark:hover:text-emerald-400"
        >Blog</a
      >
    </li>
    <li>
      <a
        href="/about"
        class="lowercase text-zinc-500 hover:text-emerald-600 hover:no-underline dark:hover:text-emerald-400"
        >About</a
      >
    </li>
  </ul>
</nav>
