---
export interface Props {
  heroHeader: string;
  heroDescription: string;
  heroParagraph?: string;
}

const { heroDescription, heroHeader, heroParagraph }: Props = Astro.props;
---

<section
  id="hero"
  class="flow container mx-auto grid h-3/4 grid-cols-1 place-content-center px-6 py-12 xl:max-w-screen-xl xl:px-4 xl:py-24"
>
  <div id="hero-text-container" class="grid gap-2">
    <div
      id="hero-header-container"
      class="animate-fade animate-delay-700 animate-duration-500 animate-once animate-ease-in-out xl:max-w-[60%]"
    >
      <h1 class="text-3xl leading-tight">
        {heroHeader}
      </h1>
    </div>
    <div
      id="hero-description-container"
      class="animate-fade-down animate-delay-1000 animate-duration-700 animate-once animate-ease-in-out xl:max-w-[60%]"
    >
      <p
        class="text-balance py-1 text-2xl font-semibold leading-tight text-emerald-600 dark:text-emerald-400"
      >
        {heroDescription}
      </p>
    </div>
    <div
      id="hero-paragraph-container"
      class="animate-fade-down animate-delay-[1200ms] animate-duration-500 animate-once animate-ease-in-out xl:max-w-[60%]"
    >
      <p class="text-balance text-lg font-semibold leading-tight">
        {heroParagraph}
      </p>
    </div>
  </div>
</section>
