---
import "../styles/global.css";

export interface Props {
  pageTitle: string;
  description: string;
}

const { description, pageTitle }: Props = Astro.props;
---

<section
  id="hero"
  class="container mx-auto grid h-3/4 grid-cols-1 lg:grid-cols-2 lg:place-items-center"
>
  <div id="hero-img-container" class="container self-center lg:self-auto">
    <img src="/favicon.svg" alt="logo" />
  </div>
  <div
    id="hero-text-container"
    class="align-end container self-end text-center lg:self-auto lg:text-left"
  >
    <h2>{pageTitle}</h2>
    <h3 class="opacity-75">
      {description}
    </h3>
  </div>
</section>
