---
import "../styles/global.css";

export interface Props {
  heroHeader: string;
  heroDescription: string;
  heroParagraph?: string;
}

const { heroDescription, heroHeader, heroParagraph }: Props = Astro.props;
---

<section
  id="hero"
  class="container mx-auto grid h-3/4 grid-cols-1 lg:grid-cols-2 lg:place-items-center"
>
  <div id="hero-img-container" class="container self-center lg:self-auto">
    <img src="/favicon.svg" alt="logo" />
  </div>
  <div
    id="hero-text-container"
    class="align-end container grid gap-[1em] self-end lg:self-auto"
  >
    <h2 class="text-3xl md:text-4xl">{heroHeader}</h2>
    <p class="text-3xl opacity-75 md:text-4xl">
      {heroDescription}
    </p>
    <p>{heroParagraph}</p>
  </div>
</section>
