---
import "../styles/global.css";

export interface Props {
  heroTitle: string;
  description: string;
}

const { description, heroTitle }: Props = Astro.props;
---

<section
  id="hero"
  class="container mx-auto grid h-3/4 grid-cols-1 lg:grid-cols-2 lg:place-items-center"
>
  <div id="hero-img-container" class="container self-center lg:self-auto">
    <img src="/favicon.svg" alt="logo" />
  </div>
  <div
    id="hero-text-container"
    class="align-end container grid gap-[1em] self-end lg:self-auto"
  >
    <h2>{heroTitle}</h2>
    <h3 class="opacity-75">
      {description}
    </h3>
  </div>
</section>
