---
import "../styles/global.css";

export interface Props {
  heroHeader: string;
  heroDescription?: string;
  heroParagraph?: string;
}

const { heroDescription, heroHeader, heroParagraph }: Props = Astro.props;
---

<section
  id="hero"
  class="container mx-auto grid h-3/4 grid-cols-1 place-content-center"
>
  <div id="hero-text-container" class="grid gap-2">
    <div
      id="hero-header-container"
      class="animate-fade animate-delay-700 animate-duration-500 animate-once animate-ease-in-out xl:max-w-[60%]"
    >
      <h2 class="text-3xl">
        {heroHeader}
      </h2>
    </div>
    <div
      id="hero-description-container"
      class="animate-fade-down animate-delay-1000 animate-duration-700 animate-once animate-ease-in-out xl:max-w-[60%]"
    >
      <p
        class="text-balance bg-gradient-to-b from-emerald-500 to-emerald-700 bg-clip-text py-1 text-2xl font-semibold leading-none text-transparent dark:from-emerald-300 dark:to-emerald-600"
      >
        {heroDescription}
      </p>
    </div>
    <div
      id="hero-paragraph-container"
      class="animate-fade-down animate-delay-[1200ms] animate-duration-500 animate-once animate-ease-in-out xl:max-w-[60%]"
    >
      <p class="text-balance text-lg font-semibold leading-tight">
        {heroParagraph}
      </p>
    </div>
  </div>
</section>
