---
export interface Props {
  technologyName: string;
}

const { technologyName }: Props = Astro.props;
---

<li
  data-name={technologyName}
  class="flex rounded bg-zinc-500 p-2 text-sm text-zinc-50 dark:text-zinc-900"
>
  {technologyName}
</li>
