---
import SectionXL from "./SectionXL.astro";
---

<section class="md:pt-22 max-w-screen-2xl pt-12 lg:pt-36 xl:pt-48 2xl:px-0">
  <div
    class="flow container mx-auto mb-24 rounded-2xl bg-zinc-100 p-6 text-zinc-900 md:p-12 lg:p-24 dark:bg-zinc-900 dark:text-zinc-50"
  >
    <SectionXL>
      <slot />
    </SectionXL>
  </div>
</section>
