---
import "../styles/global.css";
---

<div id="icon-container" class="flex gap-6 text-4xl">
  <a href="#" target="_blank" rel="noopener noreferrer"
    ><i class="fa-brands fa-x-twitter opacity-75 hover:opacity-100"></i></a
  >
  <a href="#" target="_blank" rel="noopener noreferrer"
    ><i class="fa-brands fa-github opacity-75 hover:opacity-100"></i></a
  >
  <a href="#" target="_blank" rel="noopener noreferrer"
    ><i class="fa-brands fa-linkedin opacity-75 hover:opacity-100"></i></a
  >
  <a href="#" target="_blank" rel="noopener noreferrer"
    ><i class="fa-brands fa-threads opacity-75 hover:opacity-100"></i></a
  >
</div>
