---
import "../styles/global.css";
---

<div id="icon-container" class="flex gap-6">
  <a
    href="https://twitter.com/ryandotfurrer"
    target="_blank"
    rel="noopener noreferrer"
    aria-label=`View Ryan Furrer's X profile`
    class="text-3xl text-zinc-500 hover:text-emerald-600 dark:hover:text-emerald-400"
    ><i class="fa-brands fa-x-twitter" aria-label=`View Ryan Furrer's X profile`
    ></i></a
  >
  <a
    href="https://www.threads.net/@ryandotfurrer"
    target="_blank"
    rel="noopener noreferrer"
    aria-label=`View Ryan Furrer's Threads profile`
    class="text-3xl text-zinc-500 hover:text-emerald-600 dark:hover:text-emerald-400"
    ><i
      class="fa-brands fa-threads"
      aria-label=`View Ryan Furrer's Threads profile`></i></a
  >
  <a
    href="https://github.com/ryanfurrer"
    target="_blank"
    rel="noopener noreferrer"
    aria-label=`View Ryan Furrer's GitHub profile`
    class="text-3xl text-zinc-500 hover:text-emerald-600 dark:hover:text-emerald-400"
    ><i
      class="fa-brands fa-github"
      aria-label=`View Ryan Furrer's GitHub profile`></i></a
  >
  <a
    href="https://www.linkedin.com/in/ryanfurrer/"
    target="_blank"
    rel="noopener noreferrer"
    aria-label=`View Ryan Furrer's Linkedin profile`
    class="text-3xl text-zinc-500 hover:text-emerald-600 dark:hover:text-emerald-400"
    ><i
      class="fa-brands fa-linkedin"
      aria-label=`View Ryan Furrer's Linkedin profile`></i></a
  >
</div>
